.card {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 5rem;
    transition: padding 1s;
    transform-style: preserve-3d;
    &.maximise {
        @media (max-width: 300px) {
            padding: 0;
            .card-face {
                max-width: 300px;
            }
        }
    }
    &-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 1.3rem;
        line-height: 4rem;
        font-weight: normal;
        opacity: 0.4;
        margin: 0 1rem;
        padding: 0;
        flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-bottom: 2px solid;
        text-transform: uppercase;
    }
    &-face {
        position: relative;
        width: 100%;
        max-width: 300px;
        min-height: 100vmin;
        max-height: 480px;
        margin: auto;
        display: flex;
        align-items: center;
        background: white;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.5s;
        backface-visibility: hidden;
        
        &.back {
            transform: rotateY(180deg);
        }
    }
    &-center-text {
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }
}