.guess {
    margin-right: 4rem;
}

.letters {
    &-row {
        display: flex;
    }
    &-submit {
        margin: 0 0.25rem;
        height: calc(100% - 0.5rem);
        box-sizing: border-box;
        border-radius: 4px;
        position: absolute;
        right: 0;
        bottom: 0.25rem;
        width: 3.5rem;
        background: #333;
    }
    .letter-button {
        flex: 1;
        text-align:center;
        font-family: monospace;
        text-transform: uppercase;
        font-size: 2rem;
        color: rgba(255,255,255,0.9);
        padding: 0.25rem 0.5rem;
        margin: 0.25rem;
        transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
        border-radius: 4px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.06);
        &.disabled {
            background: #333;
            color: rgba(255,255,255,0.6);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    }
}

